* {
  box-sizing: border-box;
}


ul {
  margin: 0px 216px;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  margin:0px -218px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.soz {
	padding: 0px 173px;
	margin: 0px 0px;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  background-color: #060606;
  padding: 20px 89px;
  color: #5d5d5d	;
  text-align: left;
  margin:-1%;
}

.mid {
  background-color: #ffffff;
  padding: 30px 40px;
  margin: 34px 0px;
  color: black;
  text-align: left;	
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0px 177px;
  border: none;
  border-radius: 0;
  width: 50%;
  padding: 10px;
  float: left;
  font-size: 16px;
  border-style: groove;
}

.addBtn {
  padding: 10px;
  margin:0px -132px;
  width: 7%;
  background: rgb(26, 115, 232);
  color: #fff;
  float: inherit;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 12px;
}

.addBtn:hover {
  background-color: #bbb;
}
.ClassForUl{
    padding: 1px 218px;
    margin: 0px 219px;
    border: groove;
}